.roompage{
  text-align: center;
  .title{
    font-size: 28px;
    font-weight: bolder;
  }
  .components {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto; 
  }

}