.all{
  
  height: 0px;

.component {
    width: 340px;
    height: 350px;
    display: flex;
    flex-direction: column;
  
    .empty-message{
      font-size: 18px;
      margin: 50px auto;
    }

    .glisant {
      display: flex;
      height: 300px;
      flex-direction: column;
      overflow: scroll;
    }
  
    button {
      margin-top: auto;
    }
    
  }

  .errorMessage{
    color: red;
    padding: 30px 10px;
}

  .component-2{
    
    display: flex;
    height: 200px;
    flex-direction: column;
    overflow: scroll;
  }
  .label {
    display: flex;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    align-items: flex-start;
    left: 5px;
    top: 5px;
    padding: 7px 0;
    border-bottom: 1px solid darkgrey;
  }
  .label:focus{
    background-color: green;
  }
}